@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an ASP.NET Core Web Application (MVC) version ASP.NET Core 5.0</p>
    <p>
        The Management System - MSys is a fictive industrial machine park. <br />
        The platform is for support technicians that will administrate and monitor this industrial machine park
    </p>
</div>
